In [3]:
import pandas as pd

In [5]:
df= pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
s = df['Name'][0:10]

In [11]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [14]:
len(s)

10

In [16]:
type(s)

pandas.core.series.Series

In [17]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [33]:
l = ['suraj','v','d','g','t','r','R','h','j','k']

In [34]:
s1 =pd.Series(list(s),index =l) #use to change the index

In [35]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [36]:
s[0]

'Braund, Mr. Owen Harris'

In [39]:
s1['suraj']

'Braund, Mr. Owen Harris'

In [42]:
s2 =s1.append(s)

/tmp/ipykernel_92/2257867414.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 =s1.append(s)

In [43]:
s2[0]

'Braund, Mr. Owen Harris'

In [44]:
s2['suraj']

'Braund, Mr. Owen Harris'

In [45]:
s2[4]

'Allen, Mr. William Henry'

In [46]:
s2['g']

'Futrelle, Mrs. Jacques Heath (Lily May Peel)'

In [56]:
s4 =pd.Series([3,4,5,6,7],index = [9,1,2,5,8])

In [63]:
s5 =pd.Series([454,33,54,43,345],index = [4,9,4,6,2])

In [64]:
s6 =s4.append(s5)

/tmp/ipykernel_92/470752638.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 =s4.append(s5)

In [65]:
s6

9      3
1      4
2      5
5      6
8      7
4    454
9     33
4     54
6     43
2    345
dtype: int64

In [66]:
s6[4]

4    454
4     54
dtype: int64

In [67]:
s6[0:5]

/tmp/ipykernel_92/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

9    3
1    4
2    5
5    6
8    7
dtype: int64

In [68]:
s4

9    3
1    4
2    5
5    6
8    7
dtype: int64

In [69]:
s5

4    454
9     33
4     54
6     43
2    345
dtype: int64